

@media screen and (min-width:0px) and (max-width: 399px){


 #logo2 {
    float: left;
    margin-left: 0%;
    margin-top: 10%;
    text-align: left;
    width: 15%;
    padding: 0 0 0 20px;
    
  }

 header {
 
  margin: 0 0 0px 0;
  padding:0;


}

 #logo {


 }

 h1 {
    font-size: 1.0em;
  }
  
  
  h2 {
    
    font-size: 0.75em;
    margin-bottom: 0px;
    
  }

  nav{
    font-size: 0.70em;
    

  }

  h3{

  font-size: 1.25em;  
  font-weight: bold;

  }

  /********************************
   PAGE: DINOSAURS
  **********************************/
   
  #profiles li {
    width: 100%;
  }



}



/***************************************************************************************************/


@media screen and (min-width: 400px) and (max-width:659px) {



 h1 {
    font-size: 1.25em;
  }
  
  
  h2 {
    
    font-size: 1em;
    margin-bottom: 10px;
    
  }

  
  
  /********************************
   TWO COLUMN LAYOUT
  **********************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;    
  }
  
  
  /********************************
   3 * 5 = 15
  100% - 15% = 85%
  85/3 = 28.33333
  **********************************/
  
  /********************************
   PAGE: DINOSAURS
  **********************************/

 #profiles li {
    width: 45%;
  }
 /* 
  #profiles li:nth-child(2n + 1) {
    clear: left;
    
  }
    */
  
  /********************************
   PAGE: ABOUT
  **********************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
  
    
}


/***************************************************************************************************/



@media screen and (min-width: 660px) {
 
  
  /********************************
   HEADER
  **********************************/
  
  /*nav {
   background: #000;
    float: center;
    
    margin-right: 5%;
    text-align: center;
    width: 100%;
    
  }*/
  
/* #logo{
    float: center;
    margin-left: 5%;
    text-align: center;
    width: 5%;
    
  }*/
  


 
  
  
  header {
   /* border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
    */
  }
  


/********************************
   PAGE: DINOSAURS
  **********************************/
  
  /*#profiles li {
    width: 28.3333%;
  }
  
  #profiles li:nth-child(3n + 1) {
    clear: left;
    
  }*/


}
